<!DOCTYPE html>
<html lang="en">
<head>
    <!-- meta data -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- static elements -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <!-- CDNS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

    <!-- title -->
    <title>index</title>
</head>
<body>
    <h1>Login</h1>
    <a href="{{ url_for('main.index') }}"><button class="btn">Go Home</button></a>
    
</body>
</html>